main {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

#myChart {
    height: 400px;
}

.date {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: red;
}